<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Result Management Application</title>
    <style>
       
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }

        .navbar {
            background-color: #007BFF;
            color: white;
            padding: 10px 0;
            text-align: center;
        }

        .navbar a {
            color: white;
            text-decoration: none;
            font-size: 24px;
        }

        .text {
            text-align: center;
            font-size: 24px;
            margin-top: 20px;
            padding-left: 1%;
        }

        .teachLog {
            text-align: center;
            margin-top: 20px;
        }

        .btn {
            background-color: #007BFF;
            color: white;
            font-size: 18px;
            padding: 10px 20px;
            margin: 10px;
            border: none;
            border-radius: 5px;
            text-decoration: none;
        }

        .btn a {
            color: white;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="margin-left: 1%;">Result Management System</a>
        </div>
    </div>

    <p class="text" style="margin-left: 1%;">Login as</p>
    <div class="teachLog">
        <button type="button" class="btn">
            <a href="/teacher/login">Teacher Login</a>
        </button>

        <button type="button" class="btn">
            <a href="/student/login">Student Login</a>
        </button>
    </div>
</body>

</html>
