<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Result</title>
  <link rel="stylesheet" href="/style.css">
  <style>
    
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-top: 50px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .btn {
      margin-top: 5px;
    }

    h4 {
      text-align: center;
    }

    .stuTable {
      margin-top: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    .backButton{
      border: 2px solid rgb(103, 103, 228);
      text-decoration: none;
      margin: 8px;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
      color: white;
      background-color: rgb(75, 75, 188);
    }

    .logoutButton{
      border: 2px solid rgb(103, 103, 228);
      text-decoration: none;
      margin: 8px;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
      color: white;
      background-color: rgb(75, 75, 188);
    }

  </style>
</head>

<body>
  <div class="container">
    <a href="/" class="btn btn-info backButton">Back</a>
    <a href="/logout" class="btn btn-info logoutButton">Logout</a>

    <h4>My Result</h4>

    <div class="stuTable">
      <table>
        <thead>
          <tr>
            <th>Roll no.</th>
            <th>Name</th>
            <th>Date of birth</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <% student.forEach(function(stud){ %>
            <tr>
              <td>
                <%= stud.rollno %>
              </td>
              <td>
                <%= stud.name %>
              </td>
              <td>
                <%= new Date(stud.dob).toLocaleDateString() %>
              </td>
              <td>
                <%= stud.score %>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>
